.cart-items {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 20rem;
  overflow: auto;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.actions {
  text-align: right;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #8a2b06;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
}

.actions button:hover,
.actions button:active {
  background-color: #5a1a01;
  border-color: #5a1a01;
  color: white;
}

.actions .button--alt {
  color: #8a2b06;
}

.actions .button {
  background-color: #8a2b06;
  color: white;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.cartbutton {
  padding: 10px 16px; /* Ajusta el padding para que coincida con los otros botones */
  font-size: 1rem; /* Asegúrate de que la fuente tenga el mismo tamaño que los otros botones */
  background-color: #f0f0f0; /* Cambia al color de fondo que prefieras */
  border: 1px solid #cccccc; /* Cambia el color del borde para que sea más sutil */
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
  /*margin-left: 1rem;*/
  display: flex; /* Usa flex para alinear la imagen y el texto */
  align-items: center; /* Alinea verticalmente el contenido */
  justify-content: center; /* Centra el contenido horizontalmente */
}

.cartbutton:hover {
  background-color: #e0e0e0;
  cursor: pointer; /* Cambia el cursor a una mano al pasar por encima */
}
