.cartbutton {
  padding: 10px 16px;
  font-size: 1rem;
  background-color: #f0f0f0;
  border: 1px solid #cccccc;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
  margin-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cartbutton:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}
