.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.dropdown {
  width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 10px 20px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
  margin-right: 1rem;
  font-size: 16px;
}

.dropdown:hover {
  background-color: #0056b3;
  cursor: pointer;
}

.dropdown option {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
