.loader {
  border: 5px solid #f3f3f3; /* Color de fondo */
  border-top: 5px solid #3498db; /* Color del borde superior */
  border-radius: 50%; /* Hace que sea circular */
  width: 40px; /* Ancho del loader */
  height: 40px; /* Altura del loader */
  animation: spin 2s linear infinite; /* Animación giratoria */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loaderContainer {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 100vh; /* Ocupa todo el alto de la ventana */
}
